RewriteEngine On

# Error Pages
ErrorDocument 401 /not-found.html
ErrorDocument 403 /not-found.html
ErrorDocument 404 /not-found.html
ErrorDocument 500 /not-found.html

# Prevent directory browsing
Options -Indexes +FollowSymLinks -MultiViews

# Canonical host
RewriteCond %{HTTP_HOST}    ^www\.(.*)      [NC]
RewriteRule ^(.*)$          http://%1/$1    [L,R,NE]

#Needed
RewriteRule ^sitemap.xml$ sitemap.xml

# Rewrite Rules
RewriteRule ^sign-out/$ 					/sign-out.php
RewriteRule ^dashboard/$ 					/dashboard.php?section=1

#	Brand


RewriteRule ^espacios/$ 						/espacios.php?section=2
RewriteRule ^proyectos/$ 						/proyectos.php?section=3
RewriteRule ^actividades/$ 						/actividades.php?section=4
RewriteRule ^noticias/$ 						/noticias.php?section=6
RewriteRule ^links/$ 							/links.php?section=7
RewriteRule ^logros/$ 							/logros.php?section=8
RewriteRule ^campanas/$ 						/campanas.php?section=9
RewriteRule ^materiales/$ 						/materiales.php?section=10
RewriteRule ^banner/$ 							/banner.php?section=17
RewriteRule ^aliados/$ 							/aliados.php?section=18
RewriteRule ^directorio/$ 						/directorio.php?section=19



RewriteRule ^editar-causas/([0-9]+)/([A-Za-z0-9-]+)/([0-9]+)/$ 		/editar.php?section=1&sectionId=$1&kind=$3
RewriteRule ^editar-links/([0-9]+)/([A-Za-z0-9-]+)/([0-9]+)/$ 		/editar.php?section=7&sectionId=$1&kind=$3
RewriteRule ^editar-espacios/([0-9]+)/([A-Za-z0-9-]+)/([0-9]+)/$ 	/editar.php?section=2&sectionId=$1&kind=$3
RewriteRule ^editar-noticias/([0-9]+)/([A-Za-z0-9-]+)/([0-9]+)/$ 	/editar.php?section=6&sectionId=$1&kind=$3
RewriteRule ^editar-logros/([0-9]+)/([A-Za-z0-9-]+)/([0-9]+)/$ 		/editar.php?section=8&sectionId=$1&kind=$3
RewriteRule ^editar-proyectos/([0-9]+)/([A-Za-z0-9-]+)/([0-9]+)/$ 	/editar.php?section=3&sectionId=$1&kind=$3
RewriteRule ^editar-actividades/([0-9]+)/([A-Za-z0-9-]+)/([0-9]+)/$ /editar.php?section=4&sectionId=$1&kind=$3
RewriteRule ^editar-campanas/([0-9]+)/([A-Za-z0-9-]+)/([0-9]+)/$ 	/editar.php?section=9&sectionId=$1&kind=$3
RewriteRule ^editar-materiales/([0-9]+)/([A-Za-z0-9-]+)/([0-9]+)/$ 	/editar.php?section=10&sectionId=$1&kind=$3





















